---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
<main class="my-20  flex flex-col items-center">
	<h1 class="text-xl text-amber-600">About</h1>
</main>
</Layout>
