---
import { getCollection, type CollectionEntry } from "astro:content"; 
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Intro from "../components/Intro.astro";

const allProjects = await getCollection("projects");
const publishedProjects = allProjects
  .filter((project: CollectionEntry<"projects">) => project.data.published)
  .sort(
    (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
      a.data.weight - b.data.weight
  );
---

<Layout>
  <main class="my-32"> 
    <Intro/>
    <div class="grid md:grid-cols-2 gap-8">
      {publishedProjects.map((project) => <ProjectCard project={project} />)}
    </div>
  </main>
</Layout>
