---
import { getCollection, type CollectionEntry } from "astro:content";
import Heading from "../components/Heading.astro"; 
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Intro from "../components/Intro.astro";

const allProjects = await getCollection("projects");
const publishedProjects = allProjects
  .filter((project: CollectionEntry<"projects">) => project.data.published)
  .sort(
    (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
      new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
---

<Layout>
  <main class="w-3xl my-20 mx-auto flex flex-col items-center"> 
    <Intro/>
    <div class="grid md:grid-cols-2 gap-8">
      {publishedProjects.map((project) => <ProjectCard project={project} />)}
    </div>
  </main>
</Layout>
