---

---

<footer
  class="footer sm:footer-horizontal footer-center bg-base-100 text-base-content p-4"
>
  <div
    class="border-t-2 border-base-content w-full lg:max-w-6xl flex flex-col lg:flex-row items-center justify-between py-10"
  >
    <ul class="flex gap-4">
      <li class="link link-hover">
        <a href="mailto:reachmaarif@gmail.com">reachmaarif@gmail.com</a>
      </li>
      <li class="w-1 h-1 my-auto bg-base-content"></li>
      <li class="link link-hover">
        <a href="https://www.linkedin.com/">Linkedin</a>
      </li>
    </ul>
    <h1>© S Maarif Haque {new Date().getFullYear()}</h1>
  </div>
</footer>
