---

---

<div class="my-10">
  <p>
    Product/Experience designer, strategist. Specializing in designing 1-10
    products focusing on MVP, growth, scalability, and continuous refinement
    through active user testing. Previously led design for Audio UX at Adobe
    Express, Growth Design for Adobe XD, B2B charter at redBus.
  </p>
  <p>Currently based out of Bay Area, CA.</p>
</div>
